body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 30px;
}
.name-highlight {
    color:blueviolet;
}
.half-width {
    width: 30%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img {
    width: 100%;
}