body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 35px;
}
p{
    color: rgb(122, 7, 7);
    font-weight: 300px;
}
.name-highlight {
    color:blueviolet;
}
.orange-highlight {
    color: orangered;

}
.half-width {
    width: 30%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img {
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button {
    text-decoration: none;
    background-color: orangered;
    background-image: linear-gradient(60deg,lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color:white;
    font-weight: 700;
}
.dream-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 75%;
    
   
}
.experience-area {
    background-image: url(images/exp.png);
    background-repeat: no-repeat;
    background-position: left;


}
#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 16px;
}